# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  job_1:
      # The type of runner that the job will run on
      runs-on: ubuntu-latest

      # Steps represent a sequence of tasks that will be executed as part of the job
      steps:
        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
        - uses: actions/checkout@v2

        #Install latex
        - name: Latex installation
          run: |
            sudo apt-get update
            sudo apt-get install texlive-full

        # Build document
        - name: Compilation
          run: ./compile.sh

        - name: Linux artefact
          uses: actions/upload-artifact@v1
          with:
            name: pdf
            path: main.pdf
  job_2:
      needs: [job_1]
      runs-on: ubuntu-latest
      steps:
        - name: Delete previous release
          uses: dev-drprasad/delete-tag-and-release@v0.1.2
          with:
            delete_release: true
            tag_name: continuous_cli
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        - name: create release
          id: create_release
          uses: actions/create-release@v1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            tag_name: continuous_cli
            release_name: Continuous release cli
            draft: false
            prerelease: true

        - name: Download
          uses: actions/download-artifact@v1
          with:
            name: pdf
        - name: upload release asset
          id: upload-release-asset-pdf
          uses: actions/upload-release-asset@v1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            upload_url: ${{ steps.create_release.outputs.upload_url }} 
            asset_path: pdf/main.pdf
            asset_name: main.pdf
            asset_content_type: pdf
